<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.text_field :password_confirmation, id: :user_password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_area :username, id: :user_username %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio, id: :user_bio %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_area :location, id: :user_location %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.date_select :dob, id: :user_dob %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points, id: :user_points %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level, id: :user_level %>
  </div>

  <div class="field">
    <%= form.label :admin %>
    <%= form.check_box :admin, id: :user_admin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
